
body{
    height: 100vh;
    width: 100vw;
    background-color: #0a0a0a;
    font-family: 'B612', sans-serif;
overflow-x: hidden;
}


.first{
    width: 100vw;
}


#carouselExampleControls{
    top: 2.5rem;
    height: 50% !important;
}
#carouselExampleControls .bg-dark{
    padding: 0.1px !important;
}

.card-img-overlay {
    height: 30rem !important;
    margin: 0 auto;
 
}
.carousel-inner{
    height: 100% !important;
   margin: auto;
}

.mt{
    position: relative;
    top: 4.4rem;
    padding: 0 !important;
}
.card-img-opacity{
    opacity: 0.8;

}
#slide-image{
    height:100%;

}
.slide-image img{

width: 100%;

}
.bg-black{
    background-color: #0a0a0a;
}
#about{
   padding-top: 0;
    width: 95vw;
    margin: auto;
    margin-top: 4rem;
}
.about{  
    border: 0.1px solid #17a2b8;
    border-radius: 1rem !important;
    line-height: 2rem;
   
}
.about p{  
    padding: 0.5rem;
 }

#carouselExampleControls .bg-dark{
   border-radius: 10px;
   border: 0.1px solid #17a2b8;
   text-align: center;
}
#card-img{
    margin-top: 0 !important;
}

/* MEDIA QUERIES */
@media screen and (min-width: 48em){

    #about{
        margin-top: 5rem;
    }
   #carouselExampleControls .bg-dark{
        font-size: 2rem;        
    }

}
@media  screen  and (max-width: 765px){


}
/* MEDIA QUERIES */