body{
    /* background-color: #0a0a0a; */
    height: 100vh;
    overflow-x: hidden !important;
    scroll-behavior: smooth !important;
  
}
.logo img{
    width: 5.5rem;
}
.header{
    background-color: #fff;
    box-shadow: 0px 4px 2px -.005 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    /* height: 100%; */
    z-index: 3;
  border-bottom: 0.5px solid #17a2b8;
  overflow: hidden;
}
.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
   overflow: hidden;
   
}
.header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #17a2b8;
}

.header ul a:hover{
    background-color: #dcd;
}

.header .logo{
    float: left;
    display: block;
    font-size: 2em;
padding-left: 20px;
}
.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height 1s ease-out;
}
.header .menu-icon{   
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
} 
.header .menu-icon .nav-icon{
    background: #28a745;
    display: block;
    height: 2px;
    width: 18px; 
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background: #28a745;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}
.header .menu-icon .nav-icon:after{
    background:  #28a745;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
}
.header .menu-btn{
    display: none;
}
.header .menu-btn:checked ~ .menu{
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;

}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-45deg);
    top: 0;
    
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(45deg);
    top: 0;
    
}


/* CONTAINER */
.container1{    
    height: 100vh;
    width: 100%;  
}
.overlay{
    position: absolute; 
    width: 100vw; 
    height: 100vh; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0a0a; 
    z-index: 1 !important; 
    cursor: pointer; 
    opacity: 0.65;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    color: #ccc;
  margin: auto;
}
.jumbthron{
    position: relative;
    top: 0;
    background-image: url('../images/godfather.jpg');  
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 !important;
    overflow: hidden !important;
}
#image {
    width: 0;  
    transition: all 0.5s ease-in-out; 
}
#image:hover{ 
    border: 0.01px solid #007bff;
    /* border: 0.01px solid #28a745; */
}
#image img{
    display: none;
   
}
#overlay{
    display: none;
   
}
button{
    outline: none;
}
.block{
    display: block;
    margin: auto;

}
a.block{
  width: auto;
  max-width: 6.5rem;

}
.block:hover{
    background-color: #28a745;
}
/* COUNTER */
.inner {
    /* background: rgba(0, 0, 0, 0.8); */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1.5rem;
    left: 0;
    text-align: center;
    padding-top: 50px;
  }
  #comingsoon {
    padding: 1px;
  }
  #countdown {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 50px;
  }
  #countdown div {
    padding: 5px 5px;
    border: 1px solid #fff;
    margin: 10px;
    background: rgba(0, 0, 0, 0.5);
  }
  #countdown span {
    display: block;
    font-size: 25px;
  }
  #countdown div:first-child {
    background: #17a2b8;
  }
  
  @media screen and (max-width: 650px) {
    #countdown {
      font-size: 30px;
     
    }
    #countdown div {
      border: none;
      background: none;
      margin: 8px;
    }
    .inner {
      height: 100vh;
    }
  }
  
/* COUNTER */
.container2{
height: 100vh;
margin-top: 1rem;
width: 100vw;
margin: auto;

}
.festival-info{
  background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.main-content>div{
    height: 100%;
    
}
.festival-info p{    
   
    max-width: 100%;
    margin: auto;
    margin-bottom: 1rem !important;
    padding-right: 1rem;
    padding-left: 1rem;
}
.festival-info button.block {
    display: block !important;
    margin-bottom: 2.5rem;
}

.films{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
 
}


.details{
    width: 100%;
   
}
.card>img{
    width: 100%;   
  min-height: 217.490px;
 
}
.card{
    min-width: 15rem;
    margin-bottom: 1rem;
}


.bg-light-blue{
    background-color:#17a2b8;    
}

@media screen and (min-width: 48em){
    .header li{
        float: left;
    }

    .header li a{
        padding:  20px 38px;
    }
    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon{
        display: none;
    }
    .jumbthron{
        top: 4.1rem;
    }
    .jumbthron h1{
        position: absolute;
        float: left;
         padding: 1rem;
    }
    #image{
        position: absolute;
        right: 0 !important;
        padding: 1rem;               
        width: 20rem;
        height: 20rem;
        background-image: url("../images/watchout.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;  
        
    } 
    #image img{
        display: block;      
    }
    #overlay{
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center;
        margin: auto;
        position: absolute; /* Sit on top of the page content */
        /* display: none; Hidden by default */
        width: 20rem; /* Full width (cover the whole page) */
        height:20rem; /* Full height (cover the whole page) */
        top: 0;      
        right: 0;       
        background-color: #0a0a0a;
        opacity: 0.7;       
    }
    #overlay p{
        display: flex;     
        background-color: #0a0a0a !important;
        opacity: 0.9 !important;
        width: 100%; /* Full width (cover the whole page) */
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center;
        margin: auto;
        /* color: yellow; */
       
    }

    .films{       
        margin-top: 0;
    }
    
    .festival-info{
       
        margin-top: 7rem;
    }

}