
body{
    height: 100vh;
    width: 100vw;
    background-color: #0a0a0a;
    font-family: 'B612', sans-serif;
overflow-x: hidden;
}


.first{
    width: 100vw;
}


.mt{
    position: relative;
    top: 4.4rem;
}

.profile img{
    width: 5rem;
    border-radius: 50%;
    border: #28a745 0.5px solid;
    margin: 0.1rem;
    cursor: pointer;
    opacity: 0.90;
    transition: all 0.2s ease-in-out;
}
.profile img:hover{
  
    opacity: 1;
}
.profile{
    border: solid teal 0.1px;
    border-radius: 10px;
    margin: 1rem 1rem  !important;
}
#bio-content>p{
    color: #fff !important;
}
.card-img-overlay{
margin-top: 10rem !important;
}
.card-img{
    margin-top: 2.5rem !important;
}
#avatar{
    width: 7rem;
    height:  7rem;
}



/* MEDIA QUERIES */
@media screen and (min-width: 48em){
    .header li{
        float: left;
    }

    .header li a{
        padding:  20px 38px;
    }
    .header .menu{
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon{
        display: none;
    }

}
@media  screen  and (max-width: 468px){
#small-width{
    width: 15rem !important;
    font-size: 1rem;
}   
}

@media  screen  and  (max-width: 768px){

    .col.profile{      
        display: block !important;
        min-width: 70vw !important;
       }
}
/* MEDIA QUERIES */